/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-indigo: #2c3e50;

  --c-divider-light-1: rgba(60, 60, 60, 0.1);
  --c-divider-light-2: rgba(60, 60, 60, 0.2);
  --c-divider-dark-1: rgba(84, 84, 84, 0.2);
  --c-divider-dark-2: rgba(84, 84, 84, 0.4);

  --c-text-light-1: #f8f8f8;
  --c-text-light-2: #a7a7a7;
  --c-text-dark-1: #181818;
  --c-text-dark-2: #222222;
  
  --c-brand: #8b72f0;
  --c-brand-light: #a08df5;
  --c-brand-dark: #7058d1;
  --c-brand-deep: #342f50;
  --c-brand-mute: #866ee755;
  --c-brand-highlight: #9885e463;
  
  --c-true: #2ecc71;
  --c-true-dark: #279e59;
  --c-false: #e74c3c;
  --c-false-dark: #912e23;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-background-soft: var(--c-white-soft);
  --color-background-mute: var(--c-white-mute);

  --color-border: var(--c-divider-light-2);
  --color-border-soft: var(--c-divider-light-1);
  
  --color-header: var(--c-brand-deep);
  --color-header-text: var(--c-text-light-1);
  --color-header-text-mute: var(--c-text-light-2);

  --color-heading: var(--c-text-dark-1);
  --color-text: var(--c-text-dark-1);
  --color-text-mute: var(--c-text-dark-2);
  --color-text-primary: var(--c-brand-dark);
  --color-text-on-primary: var(--c-text-light-1);

  --color-primary: var(--c-brand);
  --color-primary-light: var(--c-brand-light);
  --color-primary-dark: var(--c-brand-dark);
  --color-primary-mute: var(--c-brand-mute);
  
  --color-hover: var(--c-brand-highlight);
  
  --color-true: var(--c-true);
  --color-true-hover: var(--c-true-dark);
  --color-false: var(--c-false);
  --color-false-hover: var(--c-false-dark);

  --section-gap: 160px;
  
  --ff-sans-serif: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ff-monospace: monospace;
}

/* @media (prefers-color-scheme: dark) { */
  :root {
    --color-background: var(--c-black);
    --color-background-soft: var(--c-black-soft);
    --color-background-mute: var(--c-black-mute);

    --color-border: var(--c-divider-dark-2);
    --color-border-soft: var(--c-divider-dark-1);

    --color-header: var(--c-black);
    --color-header-text: var(--c-text-light-1);
    --color-header-text-mute: var(--c-text-light-2);

    --color-heading: var(--c-text-light-1);
    --color-text: var(--c-text-light-1);
    --color-text-mute: var(--c-text-light-2);
    --color-text-primary: var(--c-brand-light);
  }
/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--ff-sans-serif);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--ff-monospace);
}

input, textarea {
  font-family: monospace;
  font-size: inherit;
  color: inherit;
  background: var(--color-background-soft);
  border: 1px solid var(--color-border);
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: border-color 0.5s;
}

input::placeholder, textarea::placeholder {
  font-family: var(--ff-sans-serif);
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

input:disabled, textarea:disabled {
  background: var(--color-background-mute);
  border-color: var(--color-border);
  color: var(--color-text-mute);
  cursor: not-allowed;
}

a {
  color: var(--color-primary)
}

fieldset {
  border: 1px solid var(--color-border);
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
}

input[type="radio"] {
  accent-color: var(--color-primary);
}

.multiselect__input {
  background: var(--color-background-soft) !important;
  color: var(--color-text) !important;
  font-family: monospace !important;
}

.multiselect__input::placeholder {
  color: var(--color-text) !important;
}

.multiselect__tags {
  background: var(--color-background-soft) !important;
  border: 1px solid var(--color-border) !important;
  border-radius: 4px !important;
  overflow-y: auto !important;
}

.multiselect__tag-icon::after {
  color: var(--color-text) !important;
}

.multiselect__single {
  font-family: monospace !important;
  background: var(--color-background-soft) !important;
  color: var(--color-text) !important;
  font-size: 0.8rem !important;
}

.multiselect__content {
  font-family: monospace;
  font-size: 0.8rem;
}

.multiselect__content-wrapper {
  background: var(--color-background) !important;
  color: var(--color-text) !important;
  border: 1px solid var(--color-border);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 -1rem 2rem rgba(0, 0, 0, .1);
}

.multiselect__element:not(:first-child) {
  border-top: 1px solid var(--color-border);
}

.multiselect__option--highlight, .multiselect__option--highlight:after {
  background: var(--color-hover) !important;
}

.multiselect__option--selected, .multiselect__option--selected:after {
  background: var(--color-primary-dark) !important;
  color: var(--color-text) !important;
}

.multiselect__tag {
  font-family: monospace;
  background: var(--color-primary-dark) !important;
}

.control-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  label {
    font-weight: 700;
  }
}

.error-text {
  color: var(--color-false);
  font-size: 0.8rem;
}